{% extends "./base.html.twig" %}

{% block body %}
    <div class="sm:w-3/5 w-4/5 mx-auto">
        <h1 class="pt-20 sm:text-5xl md:text-7xl text-4xl font-bold text-center">
            {{ invoice.title }}
        </h1>

        <div class="py-10 text-center">
            <div class="inline-block sm:pt-1">

                <p class="text-sm text-gray-600">
                    {{invoice.order_date.format('d/m/Y')}}
                </p>
            </div>
        </div>

        <p class="text-xl">
            Invoice number: {{ invoice.receiverName }}
        </p>
        <p class="text-xl">
            Receiver: {{ invoice.receiverName }}
        </p>
        <p class="text-xl">
            Receiver Street: {{ invoice.receiverStreet }}
        </p>
        <p class="text-xl">
            Receiver ZIP code: {{ invoice.receiverZIPcode }}
        </p>
        <p class="text-xl">
            Sender name: {{ invoice.senderName }}
        </p>
        <p class="text-xl">
            Sender Street: {{ invoice.senderStreet }}
        </p>
        <p class="text-xl">
            Sender ZIP code: {{ invoice.senderZIPcode }}
        </p>

        {% for item in invoice.items %}
            <hr>
            <p class="text-xl">
                Name: {{ item.name }}
            </p>
            <p class="text-xl">
                Unit price: {{ item.unitPrice }}
            </p>
            <p class="text-xl">
                Quantity: {{ item.quantity }}
            </p>
            <p class="text-xl">
                Total price: 
            </p>
            <p class="text-xl">
                Tax: {{ item.tax }}
            </p>
        
        {% endfor %}

        <a href="/invoices/delete/{{ invoice.id }}"
        class="d-flex justify-content-center btn btn-danger">
        Delete invoice
        </a>

    </div>
{% endblock %}